<!DOCTYPE html>
<html>
<head>
        <style>
                .no-js #loader { display: none;  }
              .js #loader { display: block; position: absolute; left: 100px; top: 0; }
              .se-pre-con {
                  position: fixed;
                  left: 0px;
                  top: 0px;
                  width: 100%;
                  height: 100%;
                  z-index: 9999;
                  background: url(Preloader_21.gif) center no-repeat #fff;
              }
              </style>
              <!-------------------------------------------------------------------------------------->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
              <script src="../js/loading.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyB9o6EtsUEaQGi1khD5sSV3OryIp0zgSFc",
      authDomain: "one-click-research-solution.firebaseapp.com",
      databaseURL: "https://one-click-research-solution.firebaseio.com",
      projectId: "one-click-research-solution",
      storageBucket: "one-click-research-solution.appspot.com",
      messagingSenderId: "764441549973"
    };
    firebase.initializeApp(config);
  </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="../css/login.css">


</head>
<body>
        <div id= "loading1" class="se-pre-con" style ="display: none"></div>
	<div class="mdl-layout mdl-js-layout">
        <div id="login-conatiner" class="mdl-card mdl-shadow--16dp">
            <div class="mdl-card__supporting-text">
            	<div id="login-fab" class="mdl-color--accent mdl-color-text--white">
                    <i id="lock-icon" class="material-icons">lock</i>
                    
				</div>
				<div id="card-heading">
					P.D.Hinduja Research Facility Login
				</div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label md">
                    <input class="mdl-textfield__input mdl" id="email_field"/>
                    <label class="mdl-textfield__label" for="email_field">Username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password_field"/>
                    <label class="mdl-textfield__label" for="password" onkeyup="if (event.keyCode==13){login();}" >Password</label>
                </div>
                 <button id="login-button" onclick="login(this)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white">
                        Login
                    </button>
            </div>

            <div class="mdl-card__actions">
            	<button id='signup' onclick="window.location.href='register.html'" class="mdl-button mdl-js-button mdl-button--accent">Sign Up</button>
            </div>
        </div>
	</div>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>

<script type="text/javascript" src="../js/login.js"></script>